@use "../abstracts/" as *;
header {
  background-color: $black-color;
  box-shadow:
    0 1rem 1.5rem -0.3rem rgb(0 0 0 / 0.1),
    0 0.4rem 0.6rem -0.4rem rgb(0 0 0 / 0.1);
  position: fixed;
  width: 100%;
  opacity: 0.95;
  z-index: 999;
  .nav_bar {
    @include flex(space-between, center);
    padding: 0.5rem 0;
    h2 {
      display: flex;
      align-items: center;
      gap: 2rem;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        border: 0.1rem solid #fff;
      }
      span {
        a {
          color: #ff014f;
          transition: 0.3s;
        }
      }
    }
    .nav_list {
      display: flex;
      .nav_item {
        padding: 2rem;
        a{
          &:hover{
            color:#ff014f;
          }
        }
      }
    }
    .bottom {
      display: none;
    }
  }
}
//  responsive
@media (max-width: 991px) {
  header {
    .container {
      .nav_list {
        display: none;
      }
      .bottom {
        display: block;
        color: #fff;
      }
    }
  }
}
